/* Menu.css */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(82, 137, 188); /* Semi-transparent background */
  z-index: 999; /* Ensure it appears above other content */
  text-align: right; /* Align text to the right */
  padding-top: 5vh; /* Add spacing from top */
}

.menu-title {
  font-size: 24px; /* Larger title font size */
  color: white;
  margin-bottom: 20px; /* Add spacing below the title */
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Add spacing above the first option */
}

.menu-list li {
  color: white;
  direction: rtl; /* Right-to-left text direction */
  margin-bottom: 20px; /* Adjust spacing between options */
  border-bottom: 1px solid white; /* Add a line underneath */
  padding: 10px 0; /* Increase padding for each option */
}

.menu-list li:first-child {
  border-top: 1px solid white; /* Add a line above the first option */
}

.closeBtn {
  position: fixed;
  top: 3vh;
  left: 3vw;
  /* Additional styles for the close button */
}
